* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #150019;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

img {
  width: 350px;
  height: auto;

}


picture {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 50px;
  padding: 20px;
}

picture:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  cursor: pointer;

}

.title {
  padding: 5px;
  margin: 20px 0 20px 0;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.title-text {
  margin-bottom: 20px;
}


.details-container {
  cursor: pointer;
}


fieldset {
  width: 90%;
  /* Ajustamos el ancho del fieldset */
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  /* Centramos el fieldset aplicando márgen automático a la izquierda */
  margin-right: auto;
  /* Centramos el fieldset aplicando márgen automático a la derecha */
}



legend {
  font-size: 1.5em;
  font-weight: bold;
  color: #461b1b;

}

h2 {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 0 auto 0px 50px;
  text-align: left;
}

li {
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.5;
}